<%= form_with model: wrestler do |form| %>
	<div>
		<%= form.label :name %><br>
		<%= form.text_field :name %>
		<% @wrestler.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.label :displayname %><br>
		<%= form.text_field :displayname %>
		<% @wrestler.errors.full_messages_for(:displayname).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.label :gc02 %><br>
		<%= form.text_field :gc02 %>
		<% @wrestler.errors.full_messages_for(:gc02).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.label :gc03 %><br>
		<%= form.text_field :gc03 %>
		<% @wrestler.errors.full_messages_for(:gc03).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.label :gc04 %><br>
		<%= form.text_field :gc04 %>
		<% @wrestler.errors.full_messages_for(:gc04).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.label :gc05 %><br>
		<%= form.text_field :gc05 %>
		<% @wrestler.errors.full_messages_for(:gc05).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.label :gc06 %><br>
		<%= form.text_field :gc06 %>
		<% @wrestler.errors.full_messages_for(:gc06).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.label :gc07 %><br>
		<%= form.text_field :gc07 %>
		<% @wrestler.errors.full_messages_for(:gc07).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.label :gc08 %><br>
		<%= form.text_field :gc08 %>
		<% @wrestler.errors.full_messages_for(:gc08).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.label :gc09 %><br>
		<%= form.text_field :gc09 %>
		<% @wrestler.errors.full_messages_for(:gc09).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.label :gc10 %><br>
		<%= form.text_field :gc10 %>
		<% @wrestler.errors.full_messages_for(:gc10).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.label :gc11 %><br>
		<%= form.text_field :gc11 %>
		<% @wrestler.errors.full_messages_for(:gc11).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.label :gc12 %><br>
		<%= form.text_field :gc12 %>
		<% @wrestler.errors.full_messages_for(:gc12).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>Defensive Card</div>
	<div>Note: original came cards had exactly five "A" rolls.</div>
	<div>
		<%= form.label :dc02 %><br>
		<%= form.text_field :dc02 %>
		<% @wrestler.errors.full_messages_for(:dc02).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.label :dc03 %><br>
		<%= form.text_field :dc03 %>
		<% @wrestler.errors.full_messages_for(:dc03).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.label :dc04 %><br>
		<%= form.text_field :dc04 %>
		<% @wrestler.errors.full_messages_for(:dc04).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.label :dc05 %><br>
		<%= form.text_field :dc05 %>
		<% @wrestler.errors.full_messages_for(:dc05).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.label :dc06 %><br>
		<%= form.text_field :dc06 %>
		<% @wrestler.errors.full_messages_for(:dc06).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.label :dc07 %><br>
		<%= form.text_field :dc07 %>
		<% @wrestler.errors.full_messages_for(:dc07).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.label :dc08 %><br>
		<%= form.text_field :dc08 %>
		<% @wrestler.errors.full_messages_for(:dc08).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.label :dc09 %><br>
		<%= form.text_field :dc09 %>
		<% @wrestler.errors.full_messages_for(:dc09).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.label :dc10 %><br>
		<%= form.text_field :dc10 %>
		<% @wrestler.errors.full_messages_for(:dc10).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.label :dc11 %><br>
		<%= form.text_field :dc11 %>
		<% @wrestler.errors.full_messages_for(:dc11).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.label :dc12 %><br>
		<%= form.text_field :dc12 %>
		<% @wrestler.errors.full_messages_for(:dc12).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.label :specialty %><br>
		<%= form.text_field :specialty %>
		<% @wrestler.errors.full_messages_for(:specialty).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>


	<!-- TODO: Add other stuff here. -->
# <!-- Specialty,S1,S2,S3,S4,S5,S6,	SubA, SubB, TagA, TagB,	PriorityS,	PriorityT,OC02,OC03,OC04,OC05,OC06,OC07,OC08,OC09,OC10,OC11,OC12,RO02,RO03,RO04,RO05,RO06,RO07,RO08,RO09,RO10,RO11,RO12,	SetA, TT, Card Rating,oc_prob,total_points,dq_prob,pa_prob,sub_prob,xx_prob,submission,tag_team_save,SubX,SubY,TagX,TagY,,Division -->

	<div>
		<%= form.submit %>
	</div>
<% end %>