# <!-- GC02,GC03,GC04,GC05,GC06,GC07,GC08,GC09,GC10,GC11,GC12,DC02,DC03,DC04,DC05,DC06,DC07,DC08,DC09,DC10,DC11,DC12,	Specialty,S1,S2,S3,S4,S5,S6,	SubA, SubB, TagA, TagB,	PriorityS,	PriorityT,OC02,OC03,OC04,OC05,OC06,OC07,OC08,OC09,OC10,OC11,OC12,RO02,RO03,RO04,RO05,RO06,RO07,RO08,RO09,RO10,RO11,RO12,	SetA, TT, Card Rating,oc_prob,total_points,dq_prob,pa_prob,sub_prob,xx_prob,submission,tag_team_save,SubX,SubY,TagX,TagY,,Division -->

<%= form_with model: wrestler do |form| %>
	<div>
		<%= form.label :name %><br>
		<%= form.text_field :name %>
		<% @wrestler.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.label :displayname %><br>
		<%= form.text_field :displayname %>
		<% @wrestler.errors.full_messages_for(:displayname).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.label :gc02 %><br>
		<%= form.text_field :gc02 %>
		<% @wrestler.errors.full_messages_for(:gc02).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<!-- TODO: Add other stuff here. -->

	<div>
		<%= form.submit %>
	</div>
<% end %>