<%= form_with model: wrestler do |form| %>
	<div>
		<%= form.label :name %><br>
		<%= form.text_field :name %>
		<% @wrestler.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.label :displayname %><br>
		<%= form.text_field :displayname %>
		<% @wrestler.errors.full_messages_for(:displayname).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.label :gc02 %><br>
		<%= form.text_field :gc02 %>
		<% @wrestler.errors.full_messages_for(:gc02).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.label :gc03 %><br>
		<%= form.text_field :gc03 %>
		<% @wrestler.errors.full_messages_for(:gc03).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.label :gc04 %><br>
		<%= form.text_field :gc04 %>
		<% @wrestler.errors.full_messages_for(:gc04).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.label :gc05 %><br>
		<%= form.text_field :gc05 %>
		<% @wrestler.errors.full_messages_for(:gc05).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.label :gc06 %><br>
		<%= form.text_field :gc06 %>
		<% @wrestler.errors.full_messages_for(:gc06).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.label :gc07 %><br>
		<%= form.text_field :gc07 %>
		<% @wrestler.errors.full_messages_for(:gc07).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.label :gc08 %><br>
		<%= form.text_field :gc08 %>
		<% @wrestler.errors.full_messages_for(:gc08).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.label :gc09 %><br>
		<%= form.text_field :gc09 %>
		<% @wrestler.errors.full_messages_for(:gc09).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.label :gc10 %><br>
		<%= form.text_field :gc10 %>
		<% @wrestler.errors.full_messages_for(:gc10).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.label :gc11 %><br>
		<%= form.text_field :gc11 %>
		<% @wrestler.errors.full_messages_for(:gc11).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.label :gc12 %><br>
		<%= form.text_field :gc12 %>
		<% @wrestler.errors.full_messages_for(:gc12).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>Defensive Card</div>
	<div>Note: original came cards had exactly five "A" rolls.</div>
	<div>
		<%= form.label :dc02 %><br>
		<%= form.text_field :dc02 %>
		<% @wrestler.errors.full_messages_for(:dc02).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.label :dc03 %><br>
		<%= form.text_field :dc03 %>
		<% @wrestler.errors.full_messages_for(:dc03).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.label :dc04 %><br>
		<%= form.text_field :dc04 %>
		<% @wrestler.errors.full_messages_for(:dc04).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.label :dc05 %><br>
		<%= form.text_field :dc05 %>
		<% @wrestler.errors.full_messages_for(:dc05).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.label :dc06 %><br>
		<%= form.text_field :dc06 %>
		<% @wrestler.errors.full_messages_for(:dc06).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.label :dc07 %><br>
		<%= form.text_field :dc07 %>
		<% @wrestler.errors.full_messages_for(:dc07).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.label :dc08 %><br>
		<%= form.text_field :dc08 %>
		<% @wrestler.errors.full_messages_for(:dc08).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.label :dc09 %><br>
		<%= form.text_field :dc09 %>
		<% @wrestler.errors.full_messages_for(:dc09).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.label :dc10 %><br>
		<%= form.text_field :dc10 %>
		<% @wrestler.errors.full_messages_for(:dc10).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.label :dc11 %><br>
		<%= form.text_field :dc11 %>
		<% @wrestler.errors.full_messages_for(:dc11).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.label :dc12 %><br>
		<%= form.text_field :dc12 %>
		<% @wrestler.errors.full_messages_for(:dc12).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.label :specialty %><br>
		<%= form.text_field :specialty %>
		<% @wrestler.errors.full_messages_for(:specialty).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.label :s1 %><br>
		<%= form.text_field :s1 %>
		<% @wrestler.errors.full_messages_for(:s1).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.label :s2 %><br>
		<%= form.text_field :s2 %>
		<% @wrestler.errors.full_messages_for(:s2).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.label :s3 %><br>
		<%= form.text_field :s3 %>
		<% @wrestler.errors.full_messages_for(:s3).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.label :s4 %><br>
		<%= form.text_field :s4 %>
		<% @wrestler.errors.full_messages_for(:s4).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.label :s5 %><br>
		<%= form.text_field :s5 %>
		<% @wrestler.errors.full_messages_for(:s5).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.label :s6 %><br>
		<%= form.text_field :s6 %>
		<% @wrestler.errors.full_messages_for(:s6).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.label :subx %><br>
		<%= form.text_field :subx %>
		<% @wrestler.errors.full_messages_for(:subx).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.label :suby %><br>
		<%= form.text_field :suby %>
		<% @wrestler.errors.full_messages_for(:suby).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

<div>
		<%= form.label :tagx %><br>
		<%= form.text_field :tagx %>
		<% @wrestler.errors.full_messages_for(:tagx).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.label :tagy %><br>
		<%= form.text_field :tagy %>
		<% @wrestler.errors.full_messages_for(:tagy).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

<div>
		<%= form.label :prioritys %><br>
		<%= form.text_field :prioritys %>
		<% @wrestler.errors.full_messages_for(:prioritys).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.label :priorityt %><br>
		<%= form.text_field :priorityt %>
		<% @wrestler.errors.full_messages_for(:priorityt).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>Offensive Card</div>
	<div>
		<%= form.label :oc02 %><br>
		<%= form.text_field :oc02 %>
		<% @wrestler.errors.full_messages_for(:oc02).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.label :oc03 %><br>
		<%= form.text_field :oc03 %>
		<% @wrestler.errors.full_messages_for(:oc03).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.label :oc04 %><br>
		<%= form.text_field :oc04 %>
		<% @wrestler.errors.full_messages_for(:oc04).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.label :oc05 %><br>
		<%= form.text_field :oc05 %>
		<% @wrestler.errors.full_messages_for(:oc05).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.label :oc06 %><br>
		<%= form.text_field :oc06 %>
		<% @wrestler.errors.full_messages_for(:oc06).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.label :oc07 %><br>
		<%= form.text_field :oc07 %>
		<% @wrestler.errors.full_messages_for(:oc07).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.label :oc08 %><br>
		<%= form.text_field :oc08 %>
		<% @wrestler.errors.full_messages_for(:oc08).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.label :oc09 %><br>
		<%= form.text_field :oc09 %>
		<% @wrestler.errors.full_messages_for(:oc09).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.label :oc10 %><br>
		<%= form.text_field :oc10 %>
		<% @wrestler.errors.full_messages_for(:oc10).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.label :oc11 %><br>
		<%= form.text_field :oc11 %>
		<% @wrestler.errors.full_messages_for(:oc11).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.label :oc12 %><br>
		<%= form.text_field :oc12 %>
		<% @wrestler.errors.full_messages_for(:oc12).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>Ropes</div>
	<div>For moves with no points, please type "N/A"</div>
	<div>
		<%= form.label :ro02 %><br>
		<%= form.text_field :ro02 %>
		<% @wrestler.errors.full_messages_for(:ro02).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.label :ro03 %><br>
		<%= form.text_field :ro03 %>
		<% @wrestler.errors.full_messages_for(:ro03).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.label :ro04 %><br>
		<%= form.text_field :ro04 %>
		<% @wrestler.errors.full_messages_for(:ro04).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.label :ro05 %><br>
		<%= form.text_field :ro05 %>
		<% @wrestler.errors.full_messages_for(:ro05).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.label :ro06 %><br>
		<%= form.text_field :ro06 %>
		<% @wrestler.errors.full_messages_for(:ro06).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.label :ro07 %><br>
		<%= form.text_field :ro07 %>
		<% @wrestler.errors.full_messages_for(:ro07).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.label :ro08 %><br>
		<%= form.text_field :ro08 %>
		<% @wrestler.errors.full_messages_for(:ro08).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.label :ro09 %><br>
		<%= form.text_field :ro09 %>
		<% @wrestler.errors.full_messages_for(:ro09).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.label :ro10 %><br>
		<%= form.text_field :ro10 %>
		<% @wrestler.errors.full_messages_for(:ro10).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.label :ro11 %><br>
		<%= form.text_field :ro11 %>
		<% @wrestler.errors.full_messages_for(:ro11).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.label :ro12 %><br>
		<%= form.text_field :ro12 %>
		<% @wrestler.errors.full_messages_for(:ro12).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.submit %>
	</div>
<% end %>