<h1>Wrestlers#index</h1>
<table id="wrestlers">
  <tr>
    <th>name</th>
    <th>set</th>
    <th>pri_s</th>
    <th>pri_tt</th>
    <th>tt</th>
    <th>card_rating</th>
    <th>oc_prob</th>
    <th>total_points</th>
    <th>dq_prob</th>
    <th>pa_prob</th>
    <th>sub_prob</th>
    <th>xx_prob</th>
    <th>submission</th>
    <th>tag_team_save</th>
  </tr>
  <% @wrestlers.each do |wrestler| %>
    <tr>
        <td><%= wrestler.name %></td>
        <td><%= wrestler.set %></td>
        <td><%= wrestler.pri_s %></td>
        <td><%= wrestler.pri_tt %></td>
        <td><%= "%.0f" % wrestler.tt %>%</td>
        <td><%= "%.1f" % wrestler.card_rating %></td>
        <td><%= "%.0f" % wrestler.oc_prob %>%</td>
        <td><%= "%.3f" % wrestler.total_points %></td>
        <td><%= "%.0f" % wrestler.dq_prob %>%</td>
        <td><%= "%.0f" % wrestler.pa_prob %>%</td>
        <td><%= "%.0f" % wrestler.sub_prob %>%</td>
        <td><%= "%.0f" % wrestler.xx_prob %>%</td>
        <td><%= "%.0f" % wrestler.submission %>%</td>
        <td><%= "%.0f" % wrestler.tag_team_save %>%</td>
    </tr>
  <% end %>
</table>