<h1>Wrestlers#index</h1>
<ul>
  <% @wrestlers.each do |wrestler| %>
    <li>
      <%= wrestler.name %>
      <%= wrestler.set %>
      <%= wrestler.pri_s %>
      <%= wrestler.pri_tt %>
      <%= wrestler.tt %>
      <%= wrestler.card_rating %>
      <%= wrestler.oc_prob %>
      <%= wrestler.total_points %>
      <%= wrestler.dq_prob %>
      <%= wrestler.pa_prob %>
      <%= wrestler.sub_prob %>
      <%= wrestler.xx_prob %>
      <%= wrestler.submission %>
      <%= wrestler.tag_team_save %>
    </li>
  <% end %>
</ul>