<h1>Wrestlers#index</h1>
<table id="wrestlers">
  <tr>
    <th>name</th>
    <th>set</th>
    <th>pri_s</th>
    <th>pri_tt</th>
    <th>tt</th>
    <th>card_rating</th>
    <th>oc_prob</th>
    <th>total_points</th>
    <th>dq_prob</th>
    <th>pa_prob</th>
    <th>sub_prob</th>
    <th>xx_prob</th>
    <th>submission</th>
    <th>tag_team_save</th>
  </tr>
  <% @wrestlers.each do |wrestler| %>
    <tr>
        <td><%= wrestler.name %></td>
        <td><%= wrestler.set %></td>
        <td><%= wrestler.pri_s %></td>
        <td><%= wrestler.pri_tt %></td>
        <td><%= wrestler.tt %></td>
        <td><%= wrestler.card_rating %></td>
        <td><%= wrestler.oc_prob %></td>
        <td><%= wrestler.total_points %></td>
        <td><%= wrestler.dq_prob %></td>
        <td><%= wrestler.pa_prob %></td>
        <td><%= wrestler.sub_prob %></td>
        <td><%= wrestler.xx_prob %></td>
        <td><%= wrestler.submission %></td>
        <td><%= wrestler.tag_team_save %></td>
    </tr>
  <% end %>
</table>